﻿<div class="ingredient" onclick="@(_ => OnClick?.Invoke())">
    <h2>@Potion.Name</h2>
    <Orb Dimensions="50" Potion="Potion" />
</div>

@functions {
    [Parameter] Potion Potion { get; set; }

    [Parameter] Action OnClick { get; set; }
}