﻿* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    max-width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto auto auto 1fr;
}

.container h1 {
    text-align: center;
    border-bottom: 1px solid black;
}

.searchResults {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.smallPotion {
    border: 1px solid black;
    padding: 0 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 5px;
}

.search input {
    height: 30px;
    border: 1px solid black;
    padding-left: 10px;
}

.search button {
    height: 30px;
    background: white;
    border: 1px solid black;
    float: right;
}

.mixer {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-row-gap: 20px;
}

.combinations {
    grid-column: span 5;
}

.combinations > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    margin-bottom: 5px;
    align-items:center;
}

.combinations > div > span {
    font-size: 20px;
    margin: 0 5px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.orb {
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.orb > div {
    width: 100%;
    flex: 1 1 auto;
}