﻿@page "/"
@inject AlchemySerivce service

<div class="container">
    <h1>Might &amp; Magic Alchemy</h1>
    <div class="search">
        <input placeholder="Type a potion name or leave blank to see all" bind="query" />
        <button onclick="@Search">Search</button>
        <button onclick="@Toggle678">
            Show for @(showMM78 ? "VI" : "VII & VIII")
        </button>
    </div>
    <div class="searchResults">
        @foreach (var item in results)
        {
            <SmallPotion Potion="item" OnClick="@(() => Select(item))" />
        }
    </div>
    <div class="mixer">
        @if (current != null)
        {
            if (current.Type == PotionType.Simple)
            {
                <div class="ingredient">
                    <h2>Empty bottle</h2>
                    <div class="orb" style="width: 50px; height: 50px;">
                        <div style="background-color: darkgray;"></div>
                    </div>
                </div>
                <div class="sign">+</div>
                <div class="ingredient">
                    <h2>@current.Color[0] reagent</h2>
                    <Orb Dimensions="50" Potion="current" />
                </div>
                <div class="sign">=</div>
                <Ingredient Potion="current" />
            }
            else
            {
                foreach (var substrate in current.Substrates)
                {
                    <Ingredient OnClick="@(() => Select(substrate[0]))" Potion="substrate[0]" />
                    <div class="sign">+</div>
                    <Ingredient OnClick="@(() => Select(substrate[1]))" Potion="substrate[1]" />
                    <div class="sign">=</div>
                    <Ingredient Potion="current" />
                }
            }
            <div class="combinations">
                @foreach (var item in current.Combinations)
                {
                    <div>
                        <SmallPotion Potion="current" />
                        <span>+</span>
                        <SmallPotion Potion="item.substrate" OnClick="@(() => Select(item.substrate))" />
                        <span>=</span>
                        <SmallPotion Potion="item.product" OnClick="@(() => Select(item.product))" />
                    </div>
                }
            </div>
        }
    </div>
</div>

@functions {
    string query = string.Empty;
    Potion[] potions;
    Potion current;
    IEnumerable<Potion> results;
    bool showMM78 = true;

    protected override void OnInit()
    {
        potions = service.GetForVersion(showMM78);
        Search();
    }

    void Search()
    {
        current = null;
        results = potions.Where(x => x.Name.ToLower().Contains(query.ToLower()));
    }

    void Clear()
    {
        current = null;
        query = string.Empty;
        results = Enumerable.Empty<Potion>();
    }

    void Select(Potion potion)
    {
        Clear();
        current = potion;
        StateHasChanged();
    }

    void Toggle678()
    {
        Clear();
        showMM78 = !showMM78;
        OnInit();
    }
}